//colors
$primaryColor: #6C1BDB;
$primary2Color: #912EF2;

$secondaryColor: #313037;
$secondaryMediumColor: rgba(49, 47, 55, 0.5);
$secondaryLightColor: rgba(49, 47, 55, 0.3);
$secondaryExrtaLightColor: rgba(49, 47, 55, 0.1);

$errorColor: #FD3419;
$whiteColor: #FFFFFF;
$grayColor: #F3F3F3;
$blackColor: #1a1a1d;